article{
  background:white;
  width: 400px;
  max-width: 100%;
  margin:0 auto;

}
article img {
  width:400px;
  max-width:100%;
}
h2 {
  white-space: nowrap;
  overflow:hidden;
  text-overflow:ellipsis;
  text-transform: uppercase;
}
img.icon {
    width:3rem;
    height:3rem;
}
.hidden{
  opacity:0;
}
.visible{
  opacity:1;
}